body             {background:#3f3f3f;color:#dcdccc;font-family:Source Code Pro}
div              {float:left;width:200px;text-align:center;line-height:75px;}

.Boolean         {color:#dca3a3}
.Character       {color:#dca3a3;font-weight:bold;}
.Comment         {color:#7f9f7f;font-style:italic;}
.Conditional     {color:#f0dfaf;font-weight:bold;}
.Constant        {color:#dca3a3;font-weight:bold;}
.Cursor          {color:#000d18;background:#8faf9f;font-weight:bold;}
.Debug           {color:#bca3a3;font-weight:bold;}
.Define          {color:#ffcfaf;font-weight:bold;}
.Delimiter       {color:#8f8f8f}
.DiffAdd         {color:#709080;background:#313c36;font-weight:bold;}
.DiffChange      {background:#333333}
.DiffDelete      {color:#333333;background:#464646}
.DiffText        {color:#ecbcbc;background:#41363c;font-weight:bold;}
.Directory       {color:#9fafaf;font-weight:bold;}
.ErrorMsg        {color:#80d4aa;background:#2f2f2f;font-weight:bold;}
.Exception       {color:#c3bf9f;font-weight:bold;}
.Float           {color:#c0bed1}
.FoldColumn      {color:#93b3a3;background:#3f4040}
.Folded          {color:#93b3a3;background:#3f4040}
.Function        {color:#efef8f}
.Identifier      {color:#efdcbc}
.IncSearch       {color:#f8f893;background:#385f38}
.Keyword         {color:#f0dfaf;font-weight:bold;}
.Macro           {color:#ffcfaf;font-weight:bold;}
.ModeMsg         {color:#ffcfaf;}
.MoreMsg         {color:#ffffff;font-weight:bold;}
.Number          {color:#8cd0d3}
.Operator        {color:#f0efd0}
.PreCondit       {color:#dfaf8f;font-weight:bold;}
.PreProc         {color:#ffcfaf;font-weight:bold;}
.Question        {color:#ffffff;font-weight:bold;}
.Repeat          {color:#ffd7a7;font-weight:bold;}
.Search          {color:#ffffe0;background:#284f28}
.SpecialChar     {color:#dca3a3;font-weight:bold;}
.SpecialComment  {color:#82a282;font-weight:bold;}
.Special         {color:#cfbfaf}
.SpecialKey      {color:#9ece9e}
.Statement       {color:#e3ceab}
.StatusLine      {color:#313633;background:#ccdc90}
.StatusLineNC    {color:#2e3330;background:#88b090}
.StorageClass    {color:#c3bf9f;font-weight:bold;}
.String          {color:#cc9393}
.Structure       {color:#efefaf;font-weight:bold;}
.Tag             {color:#e89393;font-weight:bold;}
.Title           {color:#efefef;font-weight:bold;}
.Todo            {color:#dfdfdf;font-weight:bold;}
.Typedef         {color:#dfe4cf;font-weight:bold;}
.Type            {color:#dfdfbf;font-weight:bold;}
.Underlined      {color:#dcdccc;text-decoration:underline}
.VertSplit       {color:#2e3330;background:#688060}
.VisualNOS       {color:#333333;background:#f18c96;font-weight:bold;text-decoration:underline}
.WarningMsg      {color:#ffffff;background:#333333;font-weight:bold;}
.WildMenu        {color:#cbecd0;background:#2c302d;text-decoration:underline}
